/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

.row {
    padding: 10px;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

/* Map item box */
.Container-item {
    padding: 6px 6px 20px 6px;
    max-width: 310px;
    min-width: 25%;
    box-sizing: border-box;
}

.Container-item>a {
    display: block;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
    height: 300px;
}

.Container-item>a:hover {
    border: 1px solid lightgrey;
    background-color: #f5f5f5;
}

.Container-item>a>img {
    max-width: 100%;
    max-height: 100%;
}

.Container-item>.header,
.Container-item>.footer {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
}

.Container-item>.header>*,
.Container-item>.footer>* {
    font-size: .8em;
    color: darkgrey;
}

.Container-item>.header {
    padding-bottom: 0;
}

.Container-item>.footer {
    text-align: center;
    padding-top: 0px;
}

.Container-item>.footer>.title {
    color: #585858;
}

.Container-item>.header>.user {
    margin-left: 20px;
    float: left;
}

.Container-item>.header>.date {
    margin-right: 20px;
    float: right;
}

hr.clear {
    float: none;
    clear: both;
}

hr.clear.invisible {
    border: 0;
    height: 0px;
    width: 0px;
}

@media screen and (max-width: 1300px) {
    .Container-item {
        min-width: 33%;
    }
}

@media screen and (max-width: 1000px) {
    .Container-item {
        min-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .Container-item {
        min-width: 100%;
    }
}

/* Isotope filters */
#iso-filter-playtime {
    width: 200px;
    margin-top: 50px;
    margin-left: 10px;
}

.iso-filter-select-container,
.iso-filter-public-container,
.iso-filter-search-container,
.iso-filter-playtime-container {
    min-width: 350px;
    width: 20%;
    float: left;
    padding: 5px 10px;
}

@media screen and (max-width: 700px) {
    .iso-filter-select-container,
    .iso-filter-public-container,
    .iso-filter-search-container,
    .iso-filter-playtime-container {
        min-width: 100%;
    }
}

.iso-filter-select-container>*,
.iso-filter-public-container>*,
.iso-filter-search-container>* {
    min-width: 25%;
    float: left;
    display: block;
    box-sizing: border-box;
    margin: 0;
}
